
body{
    background-color: var(--bg-color);
    color: #fff;
}

#header{
    height: 70px;
    width: 100%;
    padding: 0 20px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.header-logo{
    margin: 0 auto 0 20px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.header-logo img{
    width: 38px;
    height: 38px;
    border-radius: 12px;
}

.header-logo a{
    font-size: 24px;
    color: #fff;
    align-items: center;
    padding-left: 12px;
}

.header-account{
    max-width: 250px;
    border-radius: 20px;
    margin-right: 20px;
}

.header-account i{
    margin: 9px 10px 9px 15px;
    font-size: 18px;
}

.header-account a{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
}

.header-prenium{
    max-width: 250px;
    margin-right: 20px;
}

.header-prenium i{
    margin: 9px 10px 9px 15px;
    font-size: 18px;
    color: yellow;
}

.header-prenium a{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
}

.header-bell{
    padding: 11px;
    margin-right: 20px;
    background-color: var(--bg-color);
    filter: brightness(200%);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bell i{
    font-size: 18px;
}

.header-list{
    padding: 11px;
    margin-right: 20px;
    background-color: var(--bg-color);
    filter: brightness(200%);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.menu{
    position: absolute;
    top: 100%;
    right: -20px;
    width: 500px;
    background-color: #858180;
    border-radius: 10px;
    padding: 16px;
    display: none;
}

.header-list:hover .menu{
    display: block;
}

.menu-title{
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.list-app__item{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 4px;
    display: flex;
    align-items: center;
    padding: 0 70px 0 0;
}

.list-app__item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list-app__item img{
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 4px;
}

.list-app__item i{
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin: 8px;
    line-height: 44px;
}

.list-app__item h6{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}


/* body */
#body{
}

.body-wrap{
    position: relative;
    z-index: 0;
    padding: 5px 10px;
    margin: 0;
}

.body-wrap > div{
    margin: 0 4px;
}

.body-main, .body-intro{
    background-color: #292c31;
}

/* 
.body-intro.full{
    min-width: 100% !important;
    max-width: 100% !important;
    margin-top: 12px;
}

.body-intro.changeBG{
    position: relative;
    display: flex !important;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.body-intro.changeBG button.btn-submit{
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 45%;
    left: 30px;
    font-size: 50px;
}

.body-intro.changeBG .img_subject,
.body-intro.changeBG .img_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    margin: 10px 0;
}

.body-intro.changeBG .changeBG_btn1,
.body-intro.changeBG .changeBG_btn2{
    min-width: 100px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 4px 20px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    margin: 10px 0;
}

.body-intro.changeBG .changeBG_btn1:hover,
.body-intro.changeBG .changeBG_btn2:hover{
    background-color: rgba(100, 100, 100, 0.6);
}

.body-intro.changeBG .img_subject img,
.body-intro.changeBG .img_bg img{
    width: 50%;
}


.body-tool{
    
}

.body-tool button{
    float: left;
}
 */


.body-main{
    margin: 0;
    padding: 0;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 8px;
    /* min-width: 826px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.flaxbox{
    border: 2px dashed rgba(255, 255, 255, 0.8);
    margin: 8px;
    display: flex;
    align-items: center;
    width: 100%;
}

.flaxbox img{
    transform: translateX(-72px);
}

.flaxbox:hover{
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.body-main__text{
    position: absolute;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
}

.body-main:hover .body-main__text{
    animation: fadeIn ease-in 0s;
    animation-fill-mode: forwards;
}


.body-main__text i{
    font-size: 60px;
    font-weight: 500;
}

.body-main__text p{
    font-size: 22px;
}

.body-intro{
    width: 440px;
    max-width: 440px;
    margin: 0;
    padding: 30px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body-intro h2{
    font-size: 32px;
    margin-top: 10px;
    transform: rotate(-2deg);
}

.body-intro h4{
    margin-bottom: 20px;
}

.open-photo{
    background-color: var(--bg-btn);
    font-weight: 600;
    border-radius: 20px;
    color: #fff;
    padding: 0 20px;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    min-width: 260px;
    text-transform: none;
    text-align: center;
}




/* phần đã chọn ảnh rồi */


.wrap-border{
    border: 4px solid rgba(255, 255, 255, 0.4);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.wrap-border:hover{
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.wrap-border.active{
    border: 4px solid orange;
}




.body-main-top{
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.body-main-top > div{
    margin: 0 4px;
}

.body-main-top .bg{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid transparent;
    position: relative;
}

.background-transparent{
    background-image: url(../image/Capture.PNG);
}

.bg .explain-text{
    position: absolute;
    top: -140%;
    right: -80%;
    background-color: #fff;
    color: #000;
    width: max-content;
    padding: 4px 10px;
    border-radius: 20px;
    display: none;
}

.bg .arrow{
    position: absolute;
    display: none;
    top: -80%;
    left: 6%;
    border-color: #fff transparent transparent transparent;
}

.bg:hover .arrow, 
.bg:hover .explain-text{
    display: block;
}


.body-main-top .background-white{
    background-color: #fff;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid transparent;
}
/* nút đổi nền ảnh
.body-main-top .background-img{
    background-image: url("../image/image_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid transparent;
} */

.body-main-top .background-black{
    background-color: #000; 
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid transparent;

}


/*  */
.body-main-body{
    margin: 30px 20px;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
}
.frame-image{
    height: 250px;
    display: inline-block;
    margin: 30px 4px;
    border: 2px dashed rgba(255, 255, 255, 0.6);
}

.loading.loading_image{
    height: 100%;
    width: auto;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.btn-add-img{
    border: 1px dashed #fff;
    width: 200px;
    height: 250px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    opacity: 0.6;
    margin: 30px 4px;
}

.body-main-bottom{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0;
}

.body-main-bottom a{
    margin: 4px;
    padding: 4px 20px;
    font-weight: 600;
}

.btn-add-img:hover{
    opacity: 1;
    cursor: pointer;
}


